:root {
	color-scheme: dark;
	--primary: #ff737b;
	--secondary: #62a5cc;
	--light1: #303030;
	--light2: #272727;
	--light3: #252525;
	--light4: #222222;
	--dark1: #f2f2f2;
	--dark2: #e1e1e1;
	--dark3: #c9c9c9;
	--border: #6a6a6a;
	--active4: #342121;
	--green: #285934;
	--yellow: #ebd482;
	--modalBoxShadow: black;
	--disabled: #5050508f;

	--fontXS: 10pt;
	--fontSmall: 12pt;
	--fontLarge: 16pt;
	--fontXL: 24pt;
	--fontXXL: 32pt;
	--fontScore: 72pt;

	--weightRegular: 300;
	--weightSemiBold: 400;
	--weightBold: 500;

	--contrastFilter: brightness(40%);

	--1pxBorder: 1px solid var(--border);
}

body {
	font-weight: var(--weightRegular);
	box-sizing: border-box;
	color: var(--dark2);
}

input {
	font-family: 'Inter';
	font-size: var(--fontSmall);
	font-weight: var(--weightBold);
	box-sizing: border-box;
	color: var(--dark2);
}

input:not(.numInput) {
	padding: 2px 8px 8px 16px;
}

button {
	border: none;
	background: none;
	font-size: var(--fontSmall);
	font-family: 'Inter';
	box-sizing: border-box;
	color: var(--dark2);
}

button:not(:disabled) {
	cursor: pointer;
}

html {
	height: 100vh;
}
